In [196]:
import pandas as pd

df = pd.read_csv('recurso.csv', sep=',')

In [142]:
df2 = pd.read_csv('recurso.csv', sep=',')

In [197]:
df

,data1,data2,ip,status,metodo,recurso
0,2022-01-06 06:01:46,2022-01-06,216.245.221.89,200,HEAD,main
1,2022-01-06 06:01:46,2022-01-06,216.245.221.89,200,HEAD,main
2,2022-01-06 06:01:46,2022-01-06,216.245.221.89,200,HEAD,main
3,2022-01-06 06:01:47,2022-01-06,216.245.221.89,200,HEAD,main
4,2022-01-06 06:01:46,2022-01-06,216.245.221.89,200,HEAD,main
...,...,...,...,...,...,...
472456,2021-09-27 08:09:38,2021-09-27,54.94.159.140,-,GET,remote
472457,2021-09-27 08:09:53,2021-09-27,54.94.159.140,-,GET,NaN
472458,2021-09-27 08:09:12,2021-09-27,54.94.159.140,-,GET,%2f
472459,2021-09-27 08:09:14,2021-09-27,54.94.159.140,-,GET,sample-apps
472460,2021-09-27 08:09:53,2021-09-27,216.245.221.89,200,HEAD,main

In [198]:
def retirar_ponto(ip):
    ip = ip.replace('.', '')
    return ip

df.ip = df.ip.apply(retirar_ponto)

In [199]:
df = df.drop(columns=['data1'])
df = df.drop(columns=['data2'])
df = df.fillna('null')
df = df[df.status != '-']

In [200]:
from sklearn import preprocessing
import numpy as np

In [201]:
enc = preprocessing.OrdinalEncoder()
metodo = np.expand_dims(df.metodo, axis=1)
metodo = enc.fit_transform(metodo)
df.metodo = metodo

In [202]:
enc = preprocessing.OrdinalEncoder()
recurso = np.expand_dims(df.recurso, axis=1)
recurso = enc.fit_transform(recurso)
df.recurso = recurso

In [203]:
x = np.array([df.status, df.metodo, df.recurso])
x

array([['200', '200', '200', ..., '200', '200', '200'],
       [2.0, 2.0, 2.0, ..., 2.0, 2.0, 2.0],
       [897.0, 897.0, 897.0, ..., 897.0, 897.0, 897.0]], dtype=object)

In [204]:
X = np.expand_dims(x, axis=0)
X

array([[['200', '200', '200', ..., '200', '200', '200'],
        [2.0, 2.0, 2.0, ..., 2.0, 2.0, 2.0],
        [897.0, 897.0, 897.0, ..., 897.0, 897.0, 897.0]]], dtype=object)

In [205]:
X = np.reshape(X, (3, 471188))
X

array([['200', '200', '200', ..., '200', '200', '200'],
       [2.0, 2.0, 2.0, ..., 2.0, 2.0, 2.0],
       [897.0, 897.0, 897.0, ..., 897.0, 897.0, 897.0]], dtype=object)

In [206]:
X_normalized = preprocessing.normalize(X, norm='max')

X_normalized

array([[0.46620047, 0.46620047, 0.46620047, ..., 0.46620047, 0.46620047,
        0.46620047],
       [0.33333333, 0.33333333, 0.33333333, ..., 0.33333333, 0.33333333,
        0.33333333],
       [0.56952381, 0.56952381, 0.56952381, ..., 0.56952381, 0.56952381,
        0.56952381]])

In [207]:
df1 = X_normalized.transpose()

In [208]:
df1 = pd.DataFrame(df1)

In [211]:
df1.insert(0, 'ip', df.ip)

In [214]:
df1

                 ip  status    metodo   recurso
0       21624522189  0.4662  0.333333  0.569524
1       21624522189  0.4662  0.333333  0.569524
2       21624522189  0.4662  0.333333  0.569524
3       21624522189  0.4662  0.333333  0.569524
4       21624522189  0.4662  0.333333  0.569524
...             ...     ...       ...       ...
471183  21624522189  0.4662  0.333333  0.569524
471184  21624522189  0.4662  0.333333  0.569524
471185  21624522189  0.4662  0.333333  0.569524
471186          NaN  0.4662  0.333333  0.569524
471187  21624522189  0.4662  0.333333  0.569524

[471188 rows x 4 columns]

In [213]:
df1= df1.rename(columns={0: 'status', 1:'metodo', 2:'recurso'})

In [215]:
df1.to_csv('dadostratados.csv')